
section {
    margin-bottom: 20px;
    font-size: 25px;
}

h2 {
    color: #333;
}

.testimonials blockquote {
    margin-top: 20px;
    padding: 10px;
    border-left: 5px solid #333;
}

.testimonials footer {
    margin-top: 10px;
    color: #666;
}
.team{
   
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}